body{
    margin:0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;}

  h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
  }
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.focuse-color{
    color: lightcoral;
}
#header-line{
border-left: solid 5px tomato;
border-image-slice: 1;
border-radius:0px;
height:130px ;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 15px;
    border-radius: 7px;
    color: white;
    font-weight: 700;

    
}
section{
    display: flex;
}
.focuses-section{
    width: 50%;
    padding: 6% 10% 5%;
}
.focuses-section img{
    width: 100%;
    padding-right: 20px;
}
.mission-header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mission-header-color{
    color: rgb(15, 29, 70);
}
span{
    color:sandybrown;
}
.mission{
    width: 25%;
    margin-right:2.1%;
    margin-left:6.1%;
    background-color: rgba(175, 132, 132, 0.76);
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.Vission{
    width: 25%;
    margin-right:4.1%;
    margin-left: 3.1%;
    background-color: rgba(192, 192, 192, 0.897);
    border-radius: 30px;
padding-right: 5px;
padding-left: 5px;
}
.goals {
    width: 25%;
    margin-right:4.1%;
    margin-left: 2.1%;
    background-color: rgb(151, 193, 209);
border-radius: 30px;
padding-right: 5px;
padding-left: 5px
}

.mission22-images img{
    width: 40%;
}
.developer-image-area img{
    width: 80%;
}
.developer-area{
    display: flex;
    margin-top: 50px ;
    padding-left:70px;
    padding-right:50px;
background-image: url(images/shapes/shape-1.png);
background-repeat: no-repeat;
background-size: 70px;
background-position: left ;
}
#community-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400px;
}
.community-center{
    width: 50%;
    margin-top: 80px;
    padding-left: 200px;
    padding-right: 20%;
}
.community-center-image img{
    width: 100%;
 padding: 40px 40px 70px 300px;
background-image: url(images/shapes/shape-1.png);
background-size: 150px;
background-repeat: no-repeat;
background-position: right bottom;
}

#skil-area-header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;

}
#skil-blog{
    font-style:bold;
    font-size: 45px;
    font-weight: 400px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skil-area{
    display: flex;
    width: 50%;
    padding-top: 7%;
    padding-bottom: 10%;
   padding: 40px;
}

.skil-blog-area{
    padding-top: 20px;
    padding-left: 30px;
}

.skil-image-area img{
    width: 100%;
    
  }
footer{
    text-align: center;
background-color: rgb(11, 17, 34);
border-radius: 15px;
height: 120px;
}
#foter-header{
    font-size: 30px;
    font-weight: 700px;
font-style:italic;
font-family: monospace;
color: whitesmoke;
padding-top: 20px;
}
.fotetr-text{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
.span-color{
    color:salmon;
}
